[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group APZ-admins
	read = group Registered Users
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
[access "refs/heads/*"]
	submit = group APZ-admins
[access "refs/tags/*"]
	createTag = group APZ-admins
[plugin "data-owner"]
	DataOwner = TEIGIBO
	DataOwnerDepartment = BCSS CNE CUE MAHC TEI 1
